{% extends 'base.html' %}
{% block body %}<center>
<img src="/static/index.jpg" style=""/></center><b>
<p>
    In finance, an exchange rate is the rate at which one currency will be exchanged for another currency. Currencies are most commonly national currencies, but may be sub-national as in the case of Hong Kong or supra-national as in the case of the euro.
</p>

<p>
    The exchange rate is also regarded as the value of one country's currency in relation to another currency. For example, an interbank exchange rate of 114 Japanese yen to the United States dollar means that ¥114 will be exchanged for US$1 or that US$1 will be exchanged for ¥114. In this case it is said that the price of a dollar in relation to yen is ¥114, or equivalently that the price of a yen in relation to dollars is $1/114.
</p>

<p>
    EUR/USD exchange rate in the last 90 days
Euro to Dollar exchange rate: Over the last 90 days, the Euro has appreciated by 5.34% against the Dollar, increasing from $0.9953 to $1.0515 per Euro. The foreign exchange market is always open, and rates are frequently changing due to numerous factors related to the trading relationship between the United States and the European Union.

About Currency.Wiki: Currency Converter
Whether it is the euro, pound, yen, or dollar, this tool can serve as an immense solution for those wanting to have factual information in hand instantly.

The currency tool offers:

User-Friendly Interface – It is effortless to use. You can choose any currency and convert it without any hassles.

Quick Calculations – With this calculator, you can enjoy immediate results on the fly.

Real-Time Data – The tool captures the up-to-date rates for any conversions to avoid any surprises.

Numeric Format – The currency converter also comes with the option of choosing decimal separator and thousands separator.

Printable Version – Are you traveling and want to plan for the currency conversions in the country of destination? This currency tool comes with a printable version for any currency pairs.

Disclaimer:

Currency.wiki exchange rates are for informational purposes only. Please verify/confirm currency rates with your forex broker or financial institution before making international money transfers and transactions.
</p></b>
{% endblock body %}